/* 公用样式 */
html, body {
    height: 100%;
  }
  
  body {
    display: flex;
  }
  
  .layout-side {
    /* 不受压迫 */
    flex-shrink: 0; 
    width: 256px;
    height: 100%;
    background: rgb(172, 151, 151);
  }
  
  .layout-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgb(201, 195, 195);
  }
  
  .layout-header {
    height: 60px;
    background: rgb(158, 206, 214);
  }
  
  .layout-body {
    flex: 1;
    overflow-y: auto;
  }
  
  .layout-side a {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #000;
    padding-left: 20px;
  }
  
  