<div class="layout-header">
  <ul class="layui-nav layui-bg-cyan">
    <li class="layui-nav-item"><a href="">藏青导航</a></li>
    <li class="layui-nav-item layui-this"><a href="">产品</a></li>
    <li class="layui-nav-item"><a href="">大数据</a></li>
    <li class="layui-nav-item"><a href="">社区</a></li>
    <li class="layui-nav-item">
      <a href="javascript:;">
        <cite><%= nickName %></cite>
        <span class="layui-nav-more"></span>
      </a>
      <dl class="layui-nav-child layui-anim layui-anim-upbit">
        <dd><a href="">移动模块</a></dd>
        <dd><a href="">后台模版</a></dd>
        <dd><a href="">电商平台</a></dd>
      </dl>
    </li>
    <span class="layui-nav-bar" style="left: 362px; top: 55px; width: 0px; opacity: 0;"></span>
  </ul>



</div>