<div class="layout-side">
  <ul  class="list-group">

    <% if (isAdmin) { %>
    <li class="list-group-item list-group-item-success">
      <a href="/admin.html">用户管理</a>
    </li>
    <% } %>

    <li class="list-group-item list-group-item-info">
      <a href="/banner.html">bananer图管理</a>
    </li>
    <li class="list-group-item list-group-item-warning">
      <a href="/films.html">影片管理</a>
    </li>
    <li class="list-group-item list-group-item-danger">
      <a href="/cinema.html">影院管理</a>
    </li>
  </ul>

  <!-- <ul class="list-group">
    <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
    <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
    <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
  </ul> -->





</div>